html {
    font-size: 16px;
    font-family: Calibri, Arial, sans-serif;
    background-color: #eee;
}

body {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fefefe;
}
