.StakeVsCPU--headsup {
    width: 100%;
    display: table;
}
.StakeVsCPU--headsup-item {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.StakeVsCPU--betting {
    text-align: center;
}

.StakeVsCPU--input {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 5px;
    border-style: solid;
}
.StakeVsCPU--input__invalid {
    background-color: #fdd;
}

.StakeVsCPU--submit {
    padding: 10px;
}
